/*Barra de navegación*/
.navbar{
    padding: 0.3rem;
    background-color: #a6bdd4;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}
